fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
greenlet
asyncpg
pydantic[email]>=2
pydantic-settings
pyjwt
pydantic-ai[anthropic,openai,google]
anthropic
python-multipart
openai
google-generativeai
reportlab
python-docx
openpyxl
pyyaml
